.page
  min-height calc(100vh - 164px)
  @media (max-width: $MQMobile)
    padding 65px


.blog-tags
  margin: 5%
  min-height calc(100vh - 140px)

 .content__default
    padding-left: 5%


.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus
  text-decoration: line-through;
  color lighten($accentColor, 40%) !important

#base-list-layout
    padding 1.2rem 5rem 0 5rem